.hero {
  background-color: #f7f7f7;
  height: 20rem;
}
.container {
  width: 90%;
  margin: auto;
  align-items: center;
  display: flex;
  height: 100%;
}
.container h1 {
  color: #21212b;
  font-weight: 600;
  font-size: 48px;
}
.container > h1 img {
  font-weight: 700;
  font-size: 52px;
}
.container img {
  width: 402px;
}

@media only screen and (max-width:600px) {
  .hero {
    background-color: #f7f7f7;
    height: 10rem;
    margin-bottom: 1rem;
  }
  .container h1 {
    font-size: 24px;
  }
}