.container {
    width: 90%;
    margin: auto;
    padding: 4rem 0;
}
.row {
    display: flex;
    padding: 4rem 0;
    align-items: center;
    justify-content: space-between;
}
.row > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.container h1 {
    font-size: 600;
    font-size: 32px;
    color: #21212b;
    text-align: center;
}
.container p {
    color: #4f4f4f;
    text-align: center;
}
@media only screen and (max-width:600px) {
    .container {
        width: 90%;
        margin: auto;
        padding: 4rem 0;
    }
    .row {
        display: flex;
        padding: 4rem 0;
        align-items: center;
        flex-direction: column;
        gap: 4rem;
        justify-content: space-between;
    }
    .row > div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
    .container h1 {
        font-size: 600;
        font-size: 32px;
        color: #21212b;
        text-align: center;
    }
    .container p {
        color: #4f4f4f;
        text-align: center;
    }
}